:root {
  /* DARK COFFEE */
  --espresso: #13100b;
  --dark-coffee: #241810;
  --coffee: #352015;
  --chocolate: #4a2d1b;

  /* GOLD */
  --gold: #b08a3c;
  --soft-gold: #c9a85c;
  --muted-gold: #9c7835;

  /* PARCHMENT */
  --parchment: #fcf3e6;
  --cream: #f7ecde;
  --light-cream: #f3e5d2;
  --border: #e7d7bf;

  /* TEXT */
  --text-dark: #241810;
  --text-brown: #4b3525;
  --text-muted: #816f57;
  --text-light: #f8f0e3;

  /* SHADOW */
  --shadow: rgba(36, 24, 16, 0.18);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  /* background-color: var(--light-cream); */
   /* background: linear-gradient(
    135deg,
    var(--coffee) 0%,
    var(--chocolate) 35%,
    var(--dark-coffee) 100%
  ); */
}

/* ADD STUDENT DETAILS  */

div.addstudentpage {
  border: 1px solid var(--border);
  border-radius: 70px;
  background: linear-gradient(
    135deg,
    var(--parchment) 0%,
    var(--cream) 35%,
    var(--parchment) 100%
  );
  color:var(--text-dark);
  width: 50%;
  margin: auto;
}

form.add-student {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}
form.add-student input,
form.add-student select,
#validationCustom03 {
  width: 80%;
  margin: auto;
}
form.add-student label {
  margin-left: 10%;
  font-size: large;
  font-weight: 600;
}
::-webkit-scrollbar {
  display: none;
}
p.message {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(220, 53, 69);
}

div.invalid-feedback,
div.valid-feedback {
  margin-left: 10%;
}

button.add-student-btn {
  background-color: var(--chocolate);
  color: var(--text-light);
  border: 1px solid var(--muted-gold);
  border-radius: 10px;
  width: 30%;
}

button.add-student-btn:hover{
  background-color: var(--espresso);
  color: var(--text-light);
  border: 1px solid var(--muted-gold);
}

/* VIEW STUDENT DETAILS */
